<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/base.css">
  </head>
<body>

  <main>
    <h1>All set This below is csv file content and its also created in our Project folder</h1>
    <p>ID,1 1037 02071 81 1 <br>
Name,Miss Nattarika <br>
Lastname,Yangsuai<br>
Date Of Birth,25 Jun. 1996 <br>
</p>
    
  </main>
</body>
</html>