<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Thai ID OCR App</title>
</head>
<body>
    <div class="container">
        <h1>Thai ID OCR App</h1>
        
        
        <!-- <label for="imageInput">Upload Image:</label>
        <input type="file" id="imageInput" accept="image/*">
        <button  id ='process-btn' onclick="processImage()">Process</button> -->

         <form action="/" method="get">
            
            <label for="lname">Upload Image:</label><br>
            <input type="file" name="button">

          </form>
         

        <a href="/done" >Process</a>
    </div>
    <script src="script.js"></script>
</body>
</html>

